iwsn/messagestore-api/src/main/resources/CommonTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="urn:CommonTypes">
	<xs:complexType name="message">
		<xs:sequence>
			<xs:element name="sourceNodeId" type="xs:string" />
			<xs:element name="timestamp" type="xs:dateTime" />
			<xs:element name="binaryData" type="xs:base64Binary" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>